<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>frere</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
</head>
<body>
<div class="">
  
    <div class="">
    肥嘟嘟多多多多多多多多多多
    </div>
        <div class="">
    肥嘟嘟多多多多多多多多多多
    </div>
   




    
</div>
  <script src="https://www.sobot.com/chat/frame/js/entrance.js?sysNum=c823f017186144e296f65195365f975c" class="zhiCustomBtn" id="zhichiScript" data-args="属性名1=属性值1&属性名2=属性值2"></script>



</body>    
</html>